@media screen and (min-width: 600px) and (orientation: landscape) {
    body {
        margin: 0px;
    }

    .menuButton {
        display: none;
    }

    .navbar {
        margin: 0;
        height: 80px;
        background-color: white;
        position: sticky;
        top: 0px;
    }

    .siteicon {
        position: absolute;
        width: 309.28px;
        height: 66px;
        margin-left: 16px;
        margin-top: 15px;
    }

    #logo1 {
        width: 62px;
        height: 54px;
    }

    #logoText {
        position: absolute;
        font-family: PermanentMarker;
        text-decoration: none;
        font-size: 40px;
        margin-left: 10px;
        margin-top: -12px;
        color: #31405c;
        letter-spacing: -0.05em;
    }

    #logoText::first-letter {
        font-size: 50px;
    }

    .menubar {
        direction: ltr;
        position: absolute;
        background-color: white;
        margin-left: 450px;
        padding: 0;
        margin-top: 0;
    }


    ul.menubar li {
        list-style: none;
        display: inline-block;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 29px;
        padding-bottom: 28px;
    }

    ul.menubar li a {
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: Verdana;
    }

    ul.menubar li:hover .oline {
        background-color: #31405c;
        width: 100%;
    }

    ul.submenu li:hover .line {
        background-color: white;
        width: 80%;
    }

    ul.menubar li:hover ul.submenu {
        display: block;
    }

    ul.submenu {
        display: none;
        position: absolute;
        top:80px;
        padding: 0;
    }

    ul.submenu li {
        display: block;
        padding: 20px;
        background-color: #31405c;
        position: relative;
        padding-bottom: 30px;
        padding-top: 15px;
        right: 30px;
    }

    ul.menubar li .oline {
        background-color: white;
        position: relative;
        width: 3px;
        height: 3px;
        top:-45px;
        transition: all .5s;
    }

    ul.submenu li .line {
        background-color: #31405c;
        position: absolute;
        width: 3px;
        height: 3px;
        top:55px;
        transition: all .5s;
    }

    .buyButton {
        background-color: #c8f4d4;
        position: relative;
        width: 250px;
        height: 80px;
        float: right;
        left:76px;
        display: inline-block;
        transition: all .5s;
    }
    .buyButton a {
        position: absolute;
        top:29px;
        left: 89px;
        text-align: center;
        text-decoration: none;
        color: black;
        font-family: Verdana;
        font-size: 16px;
        vertical-align: middle;
    }

    .buyButton:hover {
        background-color: #31405c;
        transform: scale(.85, .85);
    }

    .buyButton:hover a {
        color: #c8f4d4;
    }

    #headerImg {
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    body {
        margin: 0px;
    }
    .navbar {
        margin: 0;
        height: 80px;
        background-color: white;
        position: sticky;
        top: 0px;
    }
    #logo1 {
        width: 62px;
        height: 54px;
    }
    #logoText {
        position: absolute;
        font-family: PermanentMarker;
        text-decoration: none;
        font-size: 40px;
        margin-left: 10px;
        margin-top: -12px;
        color: #31405c;
        letter-spacing: -0.05em;
    }
    .siteicon {
        position: absolute;
        width: 309.28px;
        height: 66px;
        margin-left: 16px;
        margin-top: 15px;
    }
    #logoText::first-letter {
        font-size: 50px;
    }
    /*.menubar {*/
    /*    direction: ltr;*/
    /*    position: absolute;*/
    /*    background-color: white;*/
    /*    margin-left: 450px;*/
    /*    padding: 0;*/
    /*    margin-top: 0;*/
    /*}*/

    .menubar {
        text-align: center;
        position: absolute;
        background-color: white;
        padding: 0;
        width: 100%;
        top:80px;
        margin: 0 auto;
        transition: all 1s;
        display: none;
    }

    ul.menubar li {
        list-style: none;
        display: inline;
        transition: all 1s;
    }

    ul.menubar li a {
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: Verdana;
        margin: 15px;
        transition: all 1s;
    }

    ul.submenu {
        display: none;
        position: relative;
        padding: 0;
        transition: all 1s;

    }

    ul.submenu li {
        display: block;
        background-color: white;
        position: relative;
        transition: all 1s;
        padding:0;
        margin: 0;
    }

    ul.menubar li:hover ul.submenu {
        display: block;
    }

    .buyButton {
        background-color: #c8f4d4;
        position: relative;
        width: 250px;
        height: 80px;
        display: inline-block;
        transition: all .5s;

    }
    .buyButton a {
        position: absolute;
        top:29px;
        left: 89px;
        text-align: center;
        text-decoration: none;
        color: black;
        font-family: Verdana;
        font-size: 16px;
        vertical-align: middle;
    }

    .buyButton:hover {
        background-color: #31405c;
        transform: scale(.85, .85);
    }

    .buyButton:hover a {
        color: #c8f4d4;
    }

    .menuButton {
        background-color: white;
        width: 50px;
        height: 50px;
        position: relative;
        float: right;
        top: 15px;
        right: 15px;
        transition: all 1s;
    }
    #buyButtonLine1 {
        position: relative;
        background-color: #31405c;
        width: 30px;
        height: 3px;
        left: 10px;
        top: 16px;
        transition: all .5s;
    }
    #buyButtonLine2 {
        position: relative;
        background-color: #31405c;
        width: 30px;
        height: 3px;
        left: 10px;
        top: 29px;
        transition: all .5s;
    }
    #buyButtonLine3 {
        position: relative;
        background-color: #31405c;
        width: 30px;
        height: 3px;
        left: 10px;
        top: 18px;
        transition: all .5s;
    }
    /*.menuButton:hover #buyButtonLine1 {*/
    /*    transform: rotate(45deg);*/
    /*    top: 25px;*/
    /*}*/

    /*.menuButton:hover #buyButtonLine2 {*/
    /*    transform: rotate(-45deg);*/
    /*    top:22px;*/
    /*}*/
    /*.menuButton:hover #buyButtonLine3 {*/
    /*    display: none;*/
    /*}*/


    /*.menuButton:hover + .menubar {*/
    /*    display: block;*/
    /*}*/


    #headerImg {

    }
}

@font-face {
    font-family: PermanentMarker;
    src: url(fonts/PermanentMarker-Regular.ttf);
}